.pokemon-list {
  display: inline-block;
  text-align: center;
  width: 250px;
  border: 3px solid red;
  border-radius: 15px;
  padding: 8px 10px;
  margin: 1px;
}
.head {
  margin: 0 auto;
  height: 120px;
}
.header {
  margin-top: 50px;
  text-align: center;
} 

.poke-name {
  font-weight: bolder;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 15px;
}

.img {
  width: 150px;
}
.weight {
  margin: 0 auto;
}

.app {
  height: 100vh;
}
.weight-form {
  margin-bottom: 40px;
}